@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Volunteers Section */
.volunteers-section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.volunteers-section-subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.volunteers-section-subtitle-container .line {
  width: 140px;
  height: 1.5px;
  background-color: #7ac717;
}

.volunteers-section-subtitle-container h3 {
  margin: 5px 0;
  color: #7ac717;
  font-family: 20px;
  font-family: "outfit";
}

.volunteers-section h2 {
  font-size: 40px;
  margin: 15px 0;
  text-align: center;
  font-family: "Raleway";
}

/* volunteer cards mobile responsiveness */
@media (max-width: 600px) {
  .volunteers-section-subtitle-container {
    gap: 30px;
  }
  .volunteers-section-subtitle-container .line {
    width: 20vw;
  }
  .volunteers-section-subtitle-container h3 {
    font-size: 15px;
  }
  .volunteers-section h2 {
    font-size: 25px;
  }
}

.volunteers-card-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.volunteers-card {
  width: 20vw;
  padding: 10px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteers-card-container img {
  width: 20vw;
  aspect-ratio: 3/4;

  /* height: 270px; */
}

.volunteers-card-container .volunteers-card h2 {
  font-size: 25px;
  font-family: "Raleway";
  margin: 2px 0;
}
.volunteers-card-container .volunteers-card h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway";
  margin: 2px 0;
  color: #9a9a9a;
}

/* volunteer container and image responsivness */
@media (max-width: 600px) {
  .volunteers-card-container {
    flex-direction: row;
    gap: 25vw;
    flex-wrap: wrap;
  }
  .volunteers-card-container img {
    width: 35vw;
  }
}

/* Donors Section  */

.donors-section {
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

.donors-section-subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.donors-section-subtitle-container .line {
  width: 300px;
  height: 1.5px;
  background-color: #7ac717;
}

.donors-section-subtitle-container h3 {
  margin: 5px 0;
  color: #373d3b;
  font-family: 30px;
  font-weight: 600;
  font-family: "outfit";
}
/* line width */
@media (max-width:600px) {
    .donors-section-subtitle-container .line{
        width: 20vw;
    }
    
}

.donors-section h2 {
  font-size: 40px;
  margin: 15px 0;
  font-family: "Raleway";
}
.donors-card-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.donors-card {
  width: 220px;
  padding: 10px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #373d3b 1px solid;
  border-radius: 35px;
}

.donors-card-container img {
  width: 20vw;
}

.donors-card-container .donors-card h2 {
  font-size: 25px;
  font-family: "Raleway";
  margin: 2px 0;
}
.donors-card-container .donors-card h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway";
  margin: 2px 0;
  color: #9a9a9a;
}

@media (max-width: 600px) {
  .donors-card-container {
    flex-direction: row;
    gap: 25vw;
    flex-wrap: wrap;
  }
  .donors-card-container img {
    width: 35vw;
    aspect-ratio: 1;
  }
}