.donation-detail-about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 45px;
}

.donation-detail-about-section h2 {
  margin: 5px 0;
  font-family: "Raleway";
  font-size: 35px;
  color: #7ac70c;
  font-weight: 700;
}

.donation-detail-about-section p {
  font-family: "Raleway";
  font-size: 18px;
  color: #989898;
  font-weight: 500;
}


.donation-detail-about-section .image-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */

}

.image-containers img {
    width: 40%;
}