@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.donation-detail-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.donation-detail-hero-section .hero-container {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* gap: 20px; */
}

.donation-detail-hero-section .hero-container-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donation-detail-hero-section .hero-container-left img {
    width: 90%;
}
.donation-detail-hero-section .hero-container-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.hero-container-right h2 {
  margin: 5px 0;
  font-family: "Raleway";
  font-size: 35px;
  color: #7ac70c;
  font-weight: 700;
}
.hero-container-right p {
  margin: 10px 0;
  font-family: "Raleway";
  font-size: 15px;
  color: #989898;
  font-weight: 500;
}

.hero-container-right .donation-progress-status {
  background-color: #dddddd;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  padding: 20px;
}

.donation-progress-status .progress-tracker {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.donation-progress-status .percentage-display {
  font-weight: 600;
  color: #436d0d;
  font-size: 20px;
  position: relative;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #efefee;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 90%;
  background: #7ac717;
  border-radius: 10px;
  transition: width 0.4s ease;
}
.donation-progress-status .progress-tracker-texts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.progress-tracker .progress-tracker-texts h2 {
  font-family: "Outfit";
  font-weight: 500;
  font-size: 13px;
  color: black;
}

.donate-btn {
  align-self: center;
  background: #7ac717;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.donate-btn:hover {
  background-color: #5aa317;
  transform: translateY(-2px);
}

.donate-btn .custom-btn-arrow {
  display: inline-block;
  line-height: 1;
}

.donate-btn .custom-btn-arrow::after {
  content: "↗"; /* default arrow */
  display: inline-block;
}

/* On hover, show the thinner rightward arrow */
.donate-btn:hover .custom-btn-arrow::after {
  content: "➝";
}
