@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #294208;
  color: white;
}

.footer-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid #465a64;
  padding: 100px 0;
}

@media (max-width: 600px) {
  .footer-container-top {
    padding: 50px 30px;
    flex-direction: column;
    gap: 20px;
  }
}

/* DMV LOGO AND TITLE */

.footer-container-top-left {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  gap: 20px;
}

@media (max-width: 600px) {
  .footer-container-top-left {
    max-width: 100%;
  }
}

.footer-container-top-left-title {
  display: flex;
  flex-direction: row;
}

.footer-container-top-left-title h2 {
  font-family: "Shippori Mincho";
  font-size: 45px;
  font-weight: 800;
  margin: 0;
  line-height: 100%;
}

.footer-container-top .footer-container-top-left-description p {
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

@media (max-width: 1423px) {
  .footer-container-top-left-title h2 {
    font-size: 32px;
  }
  .footer-container-top-left-description p {
    font-size: 10px;
  }
}
.footer-container-top-left-socials {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.footer-container-top-left-socials .icon-box {
  background-color: #7bc816;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 20px;
  height: 20px;
}

/* Get Involved */

.footer-container-top-middle {
  width: 100%;
  max-width: 20%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 600px) {
  .footer-container-top-middle {
    max-width: 100%;
    align-items: flex-start;
  }
}

.footer-container-top-middle-title {
  font-family: "Shippori Mincho";
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}

@media (max-width: 1400px) {
  .footer-container-top-middle-title {
    font-size: 25px;
  }
  .footer-container-top-middle .footer-container-top-middle-links a {
    font-size: 15px;
  }
}

.footer-container-top-middle-links {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-container-top-middle-links a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-family: "Work Sans";
}
.footer-container-top-middle-links a:hover {
  text-decoration: underline;
}

/* Contacts */

.footer-container-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 20%;
}
@media (max-width: 600px) {
  .footer-container-top-right {
    max-width: 100%;
  }
}

.footer-container-top-right-title {
  color: #f89917;
  font-family: "Shippori Mincho";
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}

@media (max-width: 1400px) {
  .footer-container-top-right-title {
    font-size: 25px;
  }
  .footer-container-top-right .footer-container-top-right-addresses p {
    font-size: 15px;
  }
}

.footer-container-top-right-addresses {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-container-top-right-addresses p {
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin: 2.5px 0;
}

.footer-container-copyright {
  text-align: center;
  font-size: 25px;
}

.footer-container-copyright a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1400px) {
  .footer-container-copyright {
    font-size: 15px;
  }
}

.footer-container-copyright {
  text-align: center;
}
